<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.mobile.onko">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ReservationsActivity" />
        <activity android:name=".activities.ReserveHourActivity" />
        <activity android:name=".activities.UsersDoctorsActivity" />
        <activity android:name=".activities.doctorActivities.DoctorsMainActivity" />
        <activity android:name=".activities.doctorActivities.ScheduleActivity" />
        <activity android:name=".activities.ChooseDoctorActivity" />

        <service
            android:name=".globalClasses.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/onco_channel" />

        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.addMkb.MkbGroupsActivity" />
        <activity android:name=".activities.addMkb.MkbActivity" />
        <activity android:name=".activities.ExaminationsActivity" />
        <activity android:name=".activities.DoctorsActivity" />
        <activity android:name=".activities.ExaminationDatesActivity" />
        <activity android:name=".activities.FeedbackActivity" />
    </application>

</manifest>